.App{
    background: url('./../images/background.png');
    min-height: 100vh;
    background-size: cover;
    color: white;
    overflow-y: hidden;
}
.margin-0{
    margin-top: 0 !important;
}
.btn {
    background-color: #f05262;
}
.btn:hover{
    background-color: #f05262;
}
#containe{
    width: 300px;
    height: 150px;
}
.make-card{
    /*margin-top: 30vh;*/
    border-left: 6px solid #f05262;
    padding: 14px;
    width: 60vw;
    background: #4a4a4a;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 500px) {
    .make-card{
        width: 80vw;
    }
    .winners-card{
        width: 80vw;
    }
}

.cus-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30vh; */
}

/* colors */
.blue{
  color: blue;
}
.winners-card{
    /*margin-top: 30vh;*/
    border-left: 6px solid #f05262;
    padding: 14px;
    width: 60vw;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    background: #4a4a4a;
    margin-right: auto;
    margin-left: auto;
    min-height: 200px;
}
