.login-wrapper{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 15px 20px;
    background: #4a4a4a;
    border-radius: 3px;
    border-left: 6px solid #f05262 !important;
}
.c2cLogo img {
    width: 450px;
    margin: 6em 0;
}

@media only screen and (max-width : 500px) {
    .login-wrapper {
        width: 300px;
    }
    .c2cLogo img {
        width: 300px;
    }
}
.c2cLogo{
    text-align: center;
}
.footer{
    font-size: 1.7rem;
    position: fixed;
    bottom: 10px;
    right: 40px;
}
.footer .fa {
    color: #f05262 !important;
}
